<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Esports Database | Add Food</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename= 'bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for ('static', filename= 'theme.css')}}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Esports Database</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Search For Player</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>

          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Player</h3>
            </div>

            <div class="panel-body">

              <form method="POST" action="{{ url_for('player')}}">
                <div class="form-group">
                  <label for="carbohydrates">Game</label>
                  <select class="form-control" name = "gameID">
                   <option value="" selected disabled hidden>Select a Game</option>
                   <option value=000001 >LOL</option>
                   <option value=000002 >DOTA</option>
                   <option value=000003 >CSGO</option>
                   </select>
                </div>                              
                <div class="form-group">
                  <label for="protein">Team</label>
                  <input type="number" class="form-control" id="protein" name = "team" placeholder="Enter Team Name">
                </div>
                <div class="form-group">
                  <label for="food-name">Nationality </label>
                  <input type="text" class="form-control" id="food-name" name = "nationality" placeholder="optional">
                </div>
                <div class="form-group">
                  <label for="fat">K/D/A</label>
                  <input type="number" class="form-control" id="fat" placeholder="optional">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
              </form>

              <div class="page-header"></div>

              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a>Pizza</a></li>
                <li><a>Protein: <span class="badge">100</span></a></li>
                <li><a>Carbohydrates: <span class="badge">200</span></a></li>
                <li><a>Fat: <span class="badge">50</span></a></li>
                <li><a>Calories: <span class="badge">1650</span></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>

  </body>

</html>